<div style="display: flex; align-items: stretch; gap: 60px;justify-content: center;flex-direction: row;flex-wrap: wrap;">
    <div>
        <h1> INECONS </h1>
        <p class="big-text"><strong> Presupuestos</strong></p>
        <div class= "home-container" style="display: flex;gap:10px;align-items: center;justify-content: center;">
            <%= button_to "Presupuestos", projectIndex_path, class: "btn btn-first btn-lg", :method => :get %>
            <%= button_to "Materiales", materialIndex_path, class: "btn btn-second btn-lg", :method => :get %>
        </div>
    </div>
    <div>
        <img class="img-responsive" src="https://png2.cleanpng.com/sh/0264688408f109d064d308504d66cd93/L0KzQYq3UsExN5Z2eZH0aYP2gLBuTfJ2bJhqjJ98dHBme373iP91d5h3eeJxeT3pebBojvNmNaN0kdN1dImwdsPshb13bZR5RadsNXbmRIa4gBNibmE8Rqg9MUe2RYW7UcU1QWg9SKI9OUi2SIW1kP5o/kisspng-budget-stock-photography-finance-royalty-free-vect-5c5fc451ccaf07.6417354415497800498384.png"
        style="max-width: 400px;">
    </div>
</div>


